In [107]:
import pandas as pd


full_data = pd.read_excel(r"D:\Downloads\DSTC vòng 3\raw data\UPCOMINDEX.xlsx")
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785463 entries, 0 to 785462
Data columns (total 13 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  785463 non-null  int64
 1   ticker      785463 non-null  object
 2   timestamp   785463 non-null  object
 3   open        785463 non-null  float64
 4   high        785463 non-null  float64
 5   low         785463 non-null  float64
 6   close       785463 non-null  float64
 7   volume      785463 non-null  int64
 8   bu          0 non-null       float64
 9   sd          0 non-null       float64
 10  fn          0 non-null       float64
 11  fb          0 non-null       float64
 12  fs          0 non-null       float64
dtypes: float64(9), int64(2), object(2)
memory usage: 77.9+ MB

In [108]:
from FiinQuantX import FiinSession
import pandas as pd
username = 'DSTC_28@fiinquant.vn'
password = 'Fiinquant0606'

client = FiinSession(username=username, password=password).login()
fi = client.FiinIndicator()

In [109]:
full_data = full_data.drop(["bu", "sd", "fn", "fb", "fs"], axis = 1)
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785463 entries, 0 to 785462
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  785463 non-null  int64
 1   ticker      785463 non-null  object
 2   timestamp   785463 non-null  object
 3   open        785463 non-null  float64
 4   high        785463 non-null  float64
 5   low         785463 non-null  float64
 6   close       785463 non-null  float64
 7   volume      785463 non-null  int64
dtypes: float64(4), int64(2), object(2)
memory usage: 47.9+ MB

In [110]:
counts = full_data.groupby("ticker").size()
counts.describe()

count    888.000000
mean     884.530405
std      143.787804
min       14.000000
25%      919.000000
50%      919.000000
75%      919.000000
max      919.000000
dtype: float64

In [111]:
list_keep = counts[counts == 919].index
list_keep.size

745

In [112]:
df = full_data[full_data['ticker'].isin(list_keep)].reset_index()
df = df.drop("Unnamed: 0", axis = 1)
df = df.drop("index", axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 684655 entries, 0 to 684654
Data columns (total 7 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   ticker     684655 non-null  object
 1   timestamp  684655 non-null  object
 2   open       684655 non-null  float64
 3   high       684655 non-null  float64
 4   low        684655 non-null  float64
 5   close      684655 non-null  float64
 6   volume     684655 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 36.6+ MB

In [113]:
df.head()

  ticker         timestamp      open      high       low       close  volume
0    HSV  2022-01-04 00:00  13809.80  14000.28  13524.08  13733.6080  154100
1    HSV  2022-01-05 00:00  13809.80  13905.04  13428.84  13615.5104  201700
2    HSV  2022-01-06 00:00  13619.32  13619.32  13333.60  13417.4112  268000
3    HSV  2022-01-07 00:00  13524.08  13524.08  13333.60  13376.4580  177900
4    HSV  2022-01-10 00:00  13428.84  13809.80  13333.60  13452.6500  155900

In [114]:
df.tail()

       ticker         timestamp     open     high      low    close  volume
684650    YTC  2025-09-08 00:00  34500.0  34500.0  34500.0  34500.0     100
684651    YTC  2025-09-09 00:00  34500.0  34500.0  34500.0  34500.0       0
684652    YTC  2025-09-10 00:00  34500.0  34500.0  34500.0  34500.0       0
684653    YTC  2025-09-11 00:00  34500.0  35000.0  34500.0  34857.0     700
684654    YTC  2025-09-12 00:00  34900.0  34900.0  34900.0  34900.0       0

In [144]:
zero_counts_per_ticker = df["volume"].eq(0).groupby(df["ticker"]).sum()

# 2) Lấy 16 ticker có số lần volume=0 ít nhất
min_nonzero = zero_counts_per_ticker[zero_counts_per_ticker > 0]
tickers_min_16 = min_nonzero.nsmallest(16).index

df_zero_min16 = df[(df["ticker"].isin(tickers_min_16)) & (df["volume"] == 0)]

# 4) Lấy danh sách timestamp
timestamps_min16 = df_zero_min16["timestamp"].unique()


print("Timestamp mà 16 ticker ít volume=0 nhất có volume=0:")
print(timestamps_min16)

Timestamp mà 16 ticker ít volume=0 nhất có volume=0:
['2025-09-09 00:00' '2025-09-10 00:00' '2023-03-03 00:00'
 '2022-09-13 00:00' '2022-11-23 00:00' '2023-02-16 00:00'
 '2023-02-24 00:00' '2023-04-17 00:00' '2023-03-31 00:00'
 '2023-06-15 00:00' '2024-08-27 00:00' '2022-06-23 00:00'
 '2022-10-20 00:00' '2022-12-07 00:00' '2022-10-05 00:00'
 '2023-11-13 00:00' '2023-01-11 00:00' '2023-01-27 00:00'
 '2022-09-30 00:00' '2024-11-21 00:00' '2025-01-03 00:00'
 '2025-01-16 00:00' '2024-04-05 00:00' '2023-02-02 00:00'
 '2023-03-23 00:00' '2023-04-04 00:00' '2024-02-06 00:00'
 '2025-04-24 00:00' '2024-10-08 00:00']

In [145]:
df_filtered = df[~df["timestamp"].isin(timestamps_min16)]
df_filtered["timestamp"].nunique()

890

In [146]:
tickers_with_zero = df_filtered.loc[df_filtered['volume'] == 0, 'ticker'].unique()
print(tickers_with_zero.size)

688

In [147]:
df_clean = df_filtered[~df_filtered['ticker'].isin(tickers_with_zero)].copy()
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50730 entries, 0 to 661679
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     50730 non-null  object
 1   timestamp  50730 non-null  object
 2   open       50730 non-null  float64
 3   high       50730 non-null  float64
 4   low        50730 non-null  float64
 5   close      50730 non-null  float64
 6   volume     50730 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.1+ MB

In [148]:
print(df_clean['ticker'].unique())

['HSV' 'SSH' 'BCA' 'ABB' 'ABI' 'ACV' 'AFX' 'VLB' 'BMS' 'CLX' 'C4G' 'SGP'
 'DRI' 'DDV' 'FOX' 'BVB' 'GHC' 'AAS' 'HD6' 'HU4' 'ILA' 'KLB' 'AMS' 'MPC'
 'MCH' 'MSR' 'HND' 'NED' 'NTC' 'PAS' 'CSI' 'PFL' 'PBC' 'EIN' 'PPH' 'OIL'
 'PXL' 'QNS' 'QTP' 'VNB' 'SBS' 'SCL' 'G36' 'TIS' 'TTN' 'VE9' 'VEA' 'VEF'
 'VHG' 'PVO' 'VTD' 'VLC' 'VGT' 'DVN' 'TVN' 'VOC' 'VGI']

In [149]:
df_clean = df_clean.reset_index()
df_clean = df_clean.drop("index", axis =1)

In [151]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50730 entries, 0 to 50729
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ticker     50730 non-null  object
 1   timestamp  50730 non-null  object
 2   open       50730 non-null  float64
 3   high       50730 non-null  float64
 4   low        50730 non-null  float64
 5   close      50730 non-null  float64
 6   volume     50730 non-null  int64
dtypes: float64(4), int64(1), object(2)
memory usage: 2.7+ MB

In [152]:
df_clean.tail(20)

,ticker,timestamp,open,high,low,close,volume
50710,VGI,2025-08-12 00:00,80396.12,81683.25,77722.85,79124.8316,1632200
50711,VGI,2025-08-13 00:00,80198.10,82178.30,78316.91,80202.0604,1761500
50712,VGI,2025-08-14 00:00,81188.20,81683.25,79307.01,79877.3076,794100
50713,VGI,2025-08-15 00:00,80000.08,80396.12,76237.70,78429.7814,1524300
50714,VGI,2025-08-18 00:00,78415.92,79009.98,76435.72,77064.4335,992300
50715,VGI,2025-08-19 00:00,76435.72,78217.90,75643.64,76464.4329,1057600
50716,VGI,2025-08-20 00:00,77128.79,77227.80,72772.35,74827.7976,883600
50717,VGI,2025-08-21 00:00,74356.51,74752.55,72772.35,73245.6178,755200
50718,VGI,2025-08-22 00:00,73267.40,74752.55,71980.27,72997.1027,688700
50719,VGI,2025-08-25 00:00,77227.80,77227.80,72079.28,72646.6073,285700
50720,VGI,2025-08-26 00:00,72673.34,73465.42,72079.28,72654.5281,379700
50721,VGI,2025-08-27 00:00,73168.39,74554.53,73168.39,73992.1532,324400
50722,VGI,2025-08-28 00:00,74257.50,74950.57,73465.42,73940.6680,203700
50723,VGI,2025-08-29 00:00,73960.47,74653.54,72277.30,73569.3805,454900
50724,VGI,2025-09-03 00:00,72970.37,74257.50,72970.37,73684.2321,259700
50725,VGI,2025-09-04 00:00,73762.45,75643.64,73762.45,75036.7087,530300
50726,VGI,2025-09-05 00:00,75148.59,75841.66,74257.50,75016.9067,425400
50727,VGI,2025-09-08 00:00,75000.00,75300.00,71800.00,72948.0000,496600
50728,VGI,2025-09-11 00:00,71700.00,71700.00,69300.00,69911.0000,485900
50729,VGI,2025-09-12 00:00,70600.00,71000.00,70200.00,70630.0000,174700

In [155]:
import numpy as np

tickers = df_clean['ticker'].unique()
all_dfs = []

    
for t in tickers:
    df_t = df_clean[df_clean['ticker'] == t].copy()

    df_t['ema_50'] = fi.ema(df_t['close'], window=50)
    df_t['ema_200'] = fi.ema(df_t['close'], window=200)
    df_t['macd'] = fi.macd(df_t['close'], window_fast=12, window_slow=26)
    df_t['macd_signal'] = fi.macd_signal(df_t['close'], window_fast=12, window_slow=26, window_sign=9)
    df_t['macd_diff'] = fi.macd_diff(df_t['close'], window_fast=12, window_slow=26, window_sign=9)
    df_t['rsi'] = fi.rsi(df_t['close'], window=14) 
    df_t['bollinger_hband'] = fi.bollinger_hband(df_t['close'], window=20, window_dev=2)
    df_t['bollinger_lband'] = fi.bollinger_lband(df_t['close'], window=20, window_dev=2)
    df_t['mfi'] = fi.mfi(df_t['high'], df_t['low'], df_t['close'], df_t['volume'], window=14) 

    df_t['ema_200'] = np.where(df_t['ema_200'].isna(), df_t['ema_50'], df_t['ema_200'])

    all_dfs.append(df_t)



df_indicators = pd.concat(all_dfs, ignore_index=True)

print(df_indicators.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50730 entries, 0 to 50729
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ticker           50730 non-null  object
 1   timestamp        50730 non-null  object
 2   open             50730 non-null  float64
 3   high             50730 non-null  float64
 4   low              50730 non-null  float64
 5   close            50730 non-null  float64
 6   volume           50730 non-null  int64
 7   ema_50           47937 non-null  float64
 8   ema_200          47937 non-null  float64
 9   macd             49305 non-null  float64
 10  macd_signal      48849 non-null  float64
 11  macd_diff        48849 non-null  float64
 12  rsi              49989 non-null  float64
 13  bollinger_hband  49647 non-null  float64
 14  bollinger_lband  49647 non-null  float64
 15  mfi              49981 non-null  object
dtypes: float64(12), int64(1), object(3)
memory usage: 6.2+ MB
None

In [156]:
df_indicators.head(20)

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,macd_signal,macd_diff,rsi,bollinger_hband,bollinger_lband,mfi
0,HSV,2022-01-04 00:00,13809.80,14000.28,13524.08,13733.6080,154100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,HSV,2022-01-05 00:00,13809.80,13905.04,13428.84,13615.5104,201700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HSV,2022-01-06 00:00,13619.32,13619.32,13333.60,13417.4112,268000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HSV,2022-01-07 00:00,13524.08,13524.08,13333.60,13376.4580,177900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HSV,2022-01-10 00:00,13428.84,13809.80,13333.60,13452.6500,155900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,HSV,2022-01-11 00:00,13333.60,13428.84,12857.40,13182.1684,158011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,HSV,2022-01-12 00:00,13143.12,13143.12,12381.20,12694.5396,228100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,HSV,2022-01-13 00:00,12857.40,12857.40,11428.80,12355.4852,207640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,HSV,2022-01-14 00:00,12285.96,12381.20,11714.52,11959.2868,152800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,HSV,2022-01-17 00:00,11905.00,12190.72,11428.80,11784.0452,117300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,HSV,2022-01-18 00:00,11524.04,11905.00,11238.32,11472.6104,120900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,HSV,2022-01-19 00:00,11428.80,11809.76,11238.32,11424.9904,58200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,HSV,2022-01-20 00:00,11333.56,11809.76,11238.32,11482.1344,56300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,HSV,2022-01-21 00:00,11905.00,12095.48,11619.28,11965.0012,86100,NaN,NaN,NaN,NaN,NaN,27.618082,NaN,NaN,14.928169
14,HSV,2022-01-24 00:00,11714.52,12000.24,11238.32,11712.6152,68400,NaN,NaN,NaN,NaN,NaN,24.429073,NaN,NaN,14.472892
15,HSV,2022-01-25 00:00,11619.28,11619.28,11143.08,11474.5152,60505,NaN,NaN,NaN,NaN,NaN,21.864153,NaN,NaN,15.71331
16,HSV,2022-01-26 00:00,11524.04,11809.76,11333.56,11592.6128,51300,NaN,NaN,NaN,NaN,NaN,26.013553,NaN,NaN,20.78278
17,HSV,2022-01-27 00:00,11333.56,11524.04,10952.60,11293.5592,66900,NaN,NaN,NaN,NaN,NaN,22.722838,NaN,NaN,22.530043
18,HSV,2022-01-28 00:00,11333.56,11333.56,10762.12,11204.0336,82300,NaN,NaN,NaN,NaN,NaN,21.832457,NaN,NaN,12.43333
19,HSV,2022-02-07 00:00,11905.00,11905.00,11428.80,11777.3784,42117,NaN,NaN,NaN,NaN,NaN,38.462901,13982.510526,10514.550834,16.580742

In [157]:
df_cleaned = df_indicators.dropna(how = 'any').copy().reset_index()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47929 entries, 0 to 47928
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            47929 non-null  int64
 1   ticker           47929 non-null  object
 2   timestamp        47929 non-null  object
 3   open             47929 non-null  float64
 4   high             47929 non-null  float64
 5   low              47929 non-null  float64
 6   close            47929 non-null  float64
 7   volume           47929 non-null  int64
 8   ema_50           47929 non-null  float64
 9   ema_200          47929 non-null  float64
 10  macd             47929 non-null  float64
 11  macd_signal      47929 non-null  float64
 12  macd_diff        47929 non-null  float64
 13  rsi              47929 non-null  float64
 14  bollinger_hband  47929 non-null  float64
 15  bollinger_lband  47929 non-null  float64
 16  mfi              47929 non-null  object
dtypes: float64(12), int64(2), object(3)
memory usage: 6.2+ MB

In [158]:
df_cleaned = df_cleaned.drop("index", axis =1)
df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,macd_signal,macd_diff,rsi,bollinger_hband,bollinger_lband,mfi
0,HSV,2022-03-21 00:00,12190.72,12190.72,12000.24,12095.4800,132600,12365.792060,12365.792060,-51.159416,-13.839675,-37.319741,47.909658,12781.401486,11596.133674,53.500802
1,HSV,2022-03-22 00:00,12190.72,13809.80,12000.24,12565.0132,237800,12373.604654,12373.604654,-12.964961,-13.664733,0.699771,56.879348,12823.509828,11614.502732,60.745954
2,HSV,2022-03-23 00:00,12666.92,12952.64,12476.44,12747.8740,96100,12388.281883,12388.281883,31.694405,-4.592905,36.287310,59.783776,12893.923898,11618.185382,60.775614
3,HSV,2022-03-24 00:00,12666.92,12762.16,12381.20,12549.7748,110100,12394.614939,12394.614939,50.519962,6.429668,44.090293,55.428133,12909.932050,11674.845350,54.568456
4,HSV,2022-03-25 00:00,12762.16,12857.40,12571.68,12809.7800,171600,12410.895921,12410.895921,85.434759,22.230686,63.204072,59.589596,12959.846766,11722.932594,61.15296

In [159]:
df_cleaned['golden_cross'] = df_cleaned.groupby('ticker').apply(
    lambda x: ((x['ema_50'] > x['ema_200']) & (x['ema_50'].shift(1) <= x['ema_200'].shift(1))).astype(int)
).reset_index(level=0, drop=True)

df_cleaned['death_cross'] = df_cleaned.groupby('ticker').apply(
    lambda x: ((x['ema_50'] < x['ema_200']) & (x['ema_50'].shift(1) >= x['ema_200'].shift(1))).astype(int)
).reset_index(level=0, drop=True)

df_cleaned['return'] = df_cleaned.groupby('ticker')['close'].pct_change()

df_cleaned['macd_cross'] = df_cleaned.groupby('ticker').apply(
    lambda x: ((x['macd'] > x['macd_signal']) & (x['macd'].shift(1) <= x['macd_signal'].shift(1))).astype(int) -
              ((x['macd'] < x['macd_signal']) & (x['macd'].shift(1) >= x['macd_signal'].shift(1))).astype(int)
).reset_index(level=0, drop=True)

df_cleaned['bollinger_pct'] = (df_cleaned['close'] - df_cleaned['bollinger_lband']) / (df_cleaned['bollinger_hband'] - df_cleaned['bollinger_lband'])

df_cleaned['bollinger_bw'] = (df_cleaned['bollinger_hband'] - df_cleaned['bollinger_lband']) / ((df_cleaned['bollinger_hband'] + df_cleaned['bollinger_lband']) / 2)


df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,...,rsi,bollinger_hband,bollinger_lband,mfi,golden_cross,death_cross,return,macd_cross,bollinger_pct,bollinger_bw
0,HSV,2022-03-21 00:00,12190.72,12190.72,12000.24,12095.4800,132600,12365.792060,12365.792060,-51.159416,...,47.909658,12781.401486,11596.133674,53.500802,0,0,NaN,0,0.421294,0.097243
1,HSV,2022-03-22 00:00,12190.72,13809.80,12000.24,12565.0132,237800,12373.604654,12373.604654,-12.964961,...,56.879348,12823.509828,11614.502732,60.745954,0,0,0.038819,1,0.786191,0.098945
2,HSV,2022-03-23 00:00,12666.92,12952.64,12476.44,12747.8740,96100,12388.281883,12388.281883,31.694405,...,59.783776,12893.923898,11618.185382,60.775614,0,0,0.014553,0,0.885517,0.104090
3,HSV,2022-03-24 00:00,12666.92,12762.16,12381.20,12549.7748,110100,12394.614939,12394.614939,50.519962,...,55.428133,12909.932050,11674.845350,54.568456,0,0,-0.015540,0,0.708395,0.100476
4,HSV,2022-03-25 00:00,12762.16,12857.40,12571.68,12809.7800,171600,12410.895921,12410.895921,85.434759,...,59.589596,12959.846766,11722.932594,61.15296,0,0,0.020718,0,0.878676,0.100225

In [160]:
df_cleaned.dropna(inplace=True)
df_cleaned = df_cleaned.reset_index()
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47872 entries, 0 to 47871
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            47872 non-null  int64
 1   ticker           47872 non-null  object
 2   timestamp        47872 non-null  object
 3   open             47872 non-null  float64
 4   high             47872 non-null  float64
 5   low              47872 non-null  float64
 6   close            47872 non-null  float64
 7   volume           47872 non-null  int64
 8   ema_50           47872 non-null  float64
 9   ema_200          47872 non-null  float64
 10  macd             47872 non-null  float64
 11  macd_signal      47872 non-null  float64
 12  macd_diff        47872 non-null  float64
 13  rsi              47872 non-null  float64
 14  bollinger_hband  47872 non-null  float64
 15  bollinger_lband  47872 non-null  float64
 16  mfi              47872 non-null  object
 17  golden_cross     47872 non-null  int64
 18  death_cross      47872 non-null  int64
 19  return           47872 non-null  float64
 20  macd_cross       47872 non-null  int64
 21  bollinger_pct    47872 non-null  float64
 22  bollinger_bw     47872 non-null  float64
dtypes: float64(15), int64(5), object(3)
memory usage: 8.4+ MB

In [161]:
df_cleaned.columns

Index(['index', 'ticker', 'timestamp', 'open', 'high', 'low', 'close',
       'volume', 'ema_50', 'ema_200', 'macd', 'macd_signal', 'macd_diff',
       'rsi', 'bollinger_hband', 'bollinger_lband', 'mfi', 'golden_cross',
       'death_cross', 'return', 'macd_cross', 'bollinger_pct', 'bollinger_bw'],
      dtype='object')

In [162]:
df_cleaned = df_cleaned.drop("index", axis =1)

In [163]:
df_cleaned.head()

,ticker,timestamp,open,high,low,close,volume,ema_50,ema_200,macd,...,rsi,bollinger_hband,bollinger_lband,mfi,golden_cross,death_cross,return,macd_cross,bollinger_pct,bollinger_bw
0,HSV,2022-03-22 00:00,12190.72,13809.80,12000.24,12565.0132,237800,12373.604654,12373.604654,-12.964961,...,56.879348,12823.509828,11614.502732,60.745954,0,0,0.038819,1,0.786191,0.098945
1,HSV,2022-03-23 00:00,12666.92,12952.64,12476.44,12747.8740,96100,12388.281883,12388.281883,31.694405,...,59.783776,12893.923898,11618.185382,60.775614,0,0,0.014553,0,0.885517,0.104090
2,HSV,2022-03-24 00:00,12666.92,12762.16,12381.20,12549.7748,110100,12394.614939,12394.614939,50.519962,...,55.428133,12909.932050,11674.845350,54.568456,0,0,-0.015540,0,0.708395,0.100476
3,HSV,2022-03-25 00:00,12762.16,12857.40,12571.68,12809.7800,171600,12410.895921,12410.895921,85.434759,...,59.589596,12959.846766,11722.932594,61.15296,0,0,0.020718,0,0.878676,0.100225
4,HSV,2022-03-28 00:00,12857.40,12952.64,12381.20,12724.0640,157700,12423.177023,12423.177023,104.978298,...,57.677728,13003.579769,11735.962631,47.85601,0,0,-0.006691,0,0.779495,0.102477

In [164]:
df_cleaned.to_excel(r"cleaned data\UPCOM_cleaned.xlsx")